*{
  margin: 0;
  padding: 0;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
html,body{
  height: 100%;
  width: 100%;
  background: gray;

}
header{
  display: flex;
  height: 60px;
  width: 100%;
  background: rgb(137, 92, 92);


}
nav{
  display: flex;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  
}

nav ul{
  display: flex;
  margin-top: 10px;
  font-size: 20px;
justify-content: space-between;
  text-align: center;
  list-style: none;
  gap: 10px;
  
  
}
nav ul li{
  text-align: center;
  font-size: 25px;
  justify-content: space-between;
  
  
  
}
nav ul li a{
  
  justify-content: space-evenly;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
 /*#logo{
  display: block;
  height: 60px;
  width: 60px;
  margin-left: 4px;
}*/
#logo_id{
  margin-left: 10px;
  height: 60px;
  width: 60px;

}
#search_bar{
  margin-top: 15px;
  width: 20%;
  height: 30px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
}
/*#search_menu{
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  display: inline-block
}*/
#searchbtn{
  
  margin-top: 15px;
  height: 30px;
  color: rgb(1, 1, 1);
  background: #fff;
  border: 1px solid black;
  border-radius: 4px;
  width: 60px;
  display: inline-block;

}

#profile{
  margin-top: 20px;
}
#menuu{
  margin-top: 20px;
  display: none;
}

h1{
  text-align: center;
   margin-top: 5%;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;
   text-size-adjust: 20px;
   text-shadow: 5px;
   
   

}
 h2{
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  margin-top: 5%;
  margin-left: 3%;
  
}
ul{
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
}
ul li{
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#men1{
  height: 299px;
  width: 200px;
}
#men2{
  height: 299px;
  width: 200px;
}
#men3{
  height: 299px;
  width: 200px;


 
}
#men4{
  height: 299px;
  width: 200px;

  
}
#men5{
  height: 299px;
  width: 200px;


}
#men_fashion{
  display: flex;
  justify-content: space-between;
  word-spacing: 60px;
  margin-left: 3%;
  align-content: space-between;
}

#women1{
  height: 299px;
  width: 200px;

 
}
#women2{
  height: 299px;
  width: 200px;

 
}
#women3{
  height: 299px;
  width: 200px;

  
}
#women4{
  height: 299px;
  width: 200px;

 
}
#women5{
  height: 299px;
  width: 200px;

 
}
#women_fashion{
  word-spacing: 60px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 3%;
  align-content: space-between;
}
#kid1{
  height: 299px;
  width: 200px;

  
}
#kid2{
  height: 299px;
  width: 200px;

  
}
#kid3{
  height: 299px;
  width: 200px;

 
}
#kid4{
  height: 299px;
  width: 200px;

  
}
#kid5{
  height: 299px;
  width: 200px;

  
}
#kids_fashion{
  word-spacing: 55px;
  display:flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  align-content: space-between;
}
#electronics{
  display: flex;
  justify-content: space-between;
  word-spacing: 60px;
  margin-left: 3%;
  align-content: space-between;
}
.elec{
  height: 299px;
  width: 200px;

  
}
.food{
  height: 299px;
  width: 200px;

 
}
#food_item{
  display: flex;
  justify-content: space-between;
  word-spacing: 60px;
  margin-left: 3%;
  align-content: space-between;
  
}
.nfood{
  height: 299px;
  width: 200px;

  
}
#nfood_item{
  display: flex;
  justify-content: space-between;
  word-spacing: 60px;
  margin-left: 3%;
  align-content: space-between;
  
  
}
#last{
  display: inline-block;
  word-spacing: 20px;
  text-decoration: none;
  text-align: left;
  justify-content: space-between;
  text-transform: capitalize;
}
footer{
  display: flex;
  text-transform: capitalize;
}
.foot{
  margin: 20px 50px;
  margin-left: 5%;
  justify-content: space-between;
  text-transform: capitalize;
  word-spacing: 300px;
} 
h6{
  text-align: center;
  justify-content: center;
  font-size: 20px;
}
#more{
  height: 35px;
  width: 60px;
  margin-bottom: 0;
}
.space{
  height: 40px;
}
#mores{
  height: 35px;
  width: 60px;
  margin-left: 0;
}
@media (max-width:900px){
#menuu{
  display: block;
}
header nav ul li{
  padding: 20px;
  margin: 0;
  margin-left: 0;
  display: flex;
}
#menuList{
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  background: rgb(82, 70, 164, 0.6); 
  gap: 0;
  margin-left: 0;
  overflow: hidden;
  color: black;
  cursor: pointer;
}

}
#menuList{
  transition: all;
  transition-duration: 1s;
  transition-delay: 0;
  
}